@media screen and (min-width: 360px) and (max-width: 767px) {
    .vitrine {
        width: 100%;
    }

    .vitrine_produtos {
        gap: 1em;
    }

    .vitrine_card {
        height: 20em;
        margin-bottom: 0;
        margin: 0 auto;
        width: 60%;
    }

    .vitrine_card_preco {
        font-size: 1.5em;
    }
}
