@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container_principal {
        padding-bottom: 1em;
    }

    .produto {
        width: 100%;
    }

    .produto_container {
        padding: 0 0.5em;
        width: calc(100% - 1em);
    }

    .produto_foto_imagem {
        height: 60%;
        transition: none;
        width: 80%;
    }

    .produto_foto_imagem:hover {
        height: 60%;
        width: 80%;
    }

    .produto_detalhes_nome {
        margin: 0;
    }

    /*Parte das tags do produto - Categorias*/

    .produto_tags {
        margin: 3em 0 2em 0;
        padding: 0 0.5em;
        width: calc(100% - 1em);
    }

    .produto_tags_itens {
        padding: 0.25em;
    }

    .produto_tags_itens:hover {
        transform: none;
    }

    .produto_tags_link {
        font-size: 0.8em;
        transition: none;
    }

    /*Parte da vitrine dos produtos similares*/
    .vitrine {
        height: auto;
        margin: 2em auto;
    }

    .vitrine_produtos {
        flex-wrap: wrap;
        gap: 0 10%;
        height: auto;
    }

    .vitrine_card {
        height: 26.5em;
        margin-bottom: 1em;
        max-width: 320px;
        overflow: visible;
        transition: none;
        width: calc(90% / 2);
    }

    .vitrine_card:hover {
        transform: none;
    }

    .vitrine_card:hover .vitrine_card_botao {
        transform: none;
    }

    .vitrine_card_preco {
        font-size: 1.5em;
    }

    .vitrine_card_botao {
        padding: 1em 0.5em;
        opacity: 1;
        transform: none;
        width: calc(100% - 1em);
    }
}
