@import url("../variaveis.css");

.container_principal {
    background-color: var(--cinzaClaro);
    padding-top: 2em;
    width: 100%;
}

.produtos_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
}

.produtos_titulo {
    margin: 0;
    width: auto;
}

.produtos_cadastrar {
    background-color: var(--primaria);
    border: none;
    color: var(--branco);
    display: inline-block;
    font-weight: 400;
    padding: 1em;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    width: 10em;
}

.produtos_cadastrar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.vitrine {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    padding-bottom: 2em;
    width: 75%;
}

.vitrine_produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    height: auto;
    margin-top: 2em;
}

.vitrine_card {
    background-color: var(--branco);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 16em;
    margin-bottom: 1em;
    padding: 0.5em;
    position: relative;
    width: calc(100% / 6);
}

.vitrine_card_imagem {
    border-radius: 8px;
    height: 55%;
    margin: 0.25em auto;
    max-width: 200px;
    width: 80%;
}

.vitrine_card_nome {
    color: var(--cinzaEscuro);
    font-family: var(--rokkit);
    font-size: 1em;
    margin: 0;
}

.vitrine_card_preco {
    font-family: var(--rokkit);
    font-size: 1em;
    font-weight: 700;
    margin: 0;
}

.vitrine_card_id {
    background-color: var(--primaria);
    border-top-left-radius: 8px;
    color: var(--branco);
    font-family: var(--rokkit);
    font-size: 0.8em;
    left: 0;
    line-height: 1em;
    margin: 0;
    padding: 0 0.5em;
    position: absolute;
    top: 0;
    width: 0.5em;
    word-wrap: break-word;
}

.vitrine_card_botoesAcao {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: auto;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1.5em;
}

.vitrine_card_botoesAcao a {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.vitrine_card_excluir:hover {
    color: var(--vermelho);
}

.vitrine_card_editar:hover {
    color: var(--primaria);
}
