@media screen and (min-width: 360px) and (max-width: 767px) {
    .produto {
        width: 100%;
    }

    .produto_container {
        flex-direction: column;
        padding: 0 0.5em;
        width: calc(100% - 1em);
    }

    .produto_foto {
        height: 18em;
        width: 100%;
    }

    .produto_foto_imagem {
        height: 80%;
        transition: none;
        width: 80%;
    }

    .produto_foto_imagem:hover {
        height: 80%;
        width: 80%;
    }

    .produto_detalhes {
        padding: 1em 0 0 0;
        width: 100%;
    }

    .produto_detalhes_comprar {
        align-self: center;
        width: 20em;
    }

    /*Parte das tags do produto - Categorias*/

    .produto_tags {
        margin: 3em 0 2em 0;
        padding: 0 0.5em;
        width: calc(100% - 1em);
    }

    .produto_tags_legenda {
        width: auto;
    }

    .produto_tags_itens {
        padding: 0.25em;
    }

    .produto_tags_itens:hover {
        transform: none;
    }

    .produto_tags_link {
        font-size: 0.8em;
        transition: none;
    }

    /*Parte da vitrine dos produtos similares*/
    .vitrine {
        height: auto;
        margin: 1em 0;
        width: 100%;
    }

    .vitrine_produtos {
        gap: 2em;
        flex-direction: column;
        height: auto;
        margin-top: 2.5%;
    }

    .vitrine_card {
        height: 30em;
        margin: 0 auto;
        max-width: 320px;
        overflow: visible;
        transition: none;
        width: 70%;
    }

    .vitrine_card:hover {
        transform: none;
    }

    .vitrine_card_botao {
        opacity: 1;
        transform: none;
        width: calc(100% - 1em);
    }
}
