@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Raleway";
  margin: 0;
  min-width: 360px;
  padding: 0;
}
