.destaques {
    align-items: center;
    background-image: url('../assets/img/controles.png');
    background-position:right;
    background-color: #2A7AE4;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 22em;
    width: 100%;
}

.destaques_container {
    color: white;
    height: 65%;
    margin-bottom: 2em;
    width: 75%;
}

.destaques_titulo{
    font-size: 3em;

}

.destaques_descricao{
    font-size: 1.2em;
    font-weight: 700;
}

.destaques_botao {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    padding: 1em;
    transition: 0.2s;
    width: 10em;
}

.destaques_botao:hover {
    background-color: #fff;
    color: #2A7AE4;

}