@import url("./variaveis.css");

.header {
    align-items: center;
    display: flex;
    height: 7em;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 75%;
}

.header_container_direita {
    align-items: center;
    display: flex;
    gap: 2em;
}

.header_logo img {
    cursor: pointer;
    height: 3em;
}

.header_pesquisa_container {
    align-items: center;
    background-color: var(--cinzaClaro);
    border-radius: 20px;
    display: flex;
    height: 2.5em;
    justify-content: space-around;
    width: 24.5em;
}

.header_pesquisa_container input {
    background-color: transparent;
    border: none;
    height: 2em;
    outline: none;
    width: 20em;
}

.header_pesquisa_container input::placeholder {
    color: var(--cinzaEscuro);
}

.header_pesquisa_container .icone_lupa {
    color: var(--cinzaEscuro);
    cursor: pointer;
    font-size: 1.4em;
}

.header_pesquisa_container .icone_x {
    color: var(--vermelho);
    cursor: pointer;
    display: none;
    font-size: 1.4em;
}

.header_login_button {
    background-color: transparent;
    border: 1px solid var(--primaria);
    color: var(--primaria);
    display: inline-block;
    font-weight: 400;
    padding: 1em;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    width: 10em;
}

.header_login_button:hover {
    background-color: var(--primariaHover);
}

.header_pesquisa_responsivo {
    color: var(--cinzaEscuro);
    cursor: pointer;
    display: none;
    font-size: 2em;
    margin-left: 0.5em;
}

.header_pesquisa_resultado {
    background-color: transparent;
    border-radius: 4px;
    display: none;
    height: auto;
    left: 12em;
    max-height: 17em;
    overflow: hidden;
    position: absolute;
    top: 5em;
    width: 24.5em;
    z-index: 1;
}

.pesquisa_lista_resultado {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.lista_resultado_item {
    background-color: var(--cinzaClaro);
    display: flex;
    height: 3em;
    width: 100%;
}

.lista_resultado_item:hover {
    background-color: var(--cinzaEscuro);
}

.lista_item_link {
    align-items: center;
    color: var(--preto);
    display: flex;
    gap: 3em;
    text-decoration: none;
}

.lista_item_imagem {
    height: 100%;
    object-fit: contain;
    width: 4em;
}

.ativo {
    display: flex;
}
