@import url('./variaveis.css');

.header {
    align-items: center;
    display: flex;
    height: 7em;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 75%;
}

.header_container_direita {
    align-items: center;
    display: flex;
    gap: 2em;
}

.header_logo img {
    cursor: pointer;
    height: 3em;
}

.header_pesquisa_container {
    align-items: center;
    background-color: var(--cinzaClaro);
    border-radius: 20px;
    display: flex;
    height: 2.5em;
    justify-content: space-around;
    width: 24.5em;

}

.header_pesquisa_container input {
    background-color: transparent;
    border: none;
    height: 2em;
    outline: none;
    width: 20em;
}

.header_pesquisa_container input::placeholder {
    color: var(--cinzaEscuro);
}

.header_pesquisa_container img {
    cursor: pointer;
    height: 1.4em;
    width: 1.4em;
}

.header_login_button {
    background-color: transparent;
    border: 1px solid var(--primaria);
    color: var(--primaria);
    display: inline-block;
    font-weight: 400;
    padding: 1em;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    width: 10em;
}

.header_login_button:hover {
    background-color: var(--primariaHover);
}

/*Design responsivo para celulares, considerando largura máxima de 375 pixels*/

@media screen and (max-width: 375px) {
    .header {
        height: 5em;
        padding: 0 0.5em;
        width: 90%;
    }

    .header_logo img {
        height: 2.5em;
    }

    .header_pesquisa_container{
        display: none;
    }

    .header_login_button{
        padding: 0.5em;
        width: 7em;
    }
  }