.main_container {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 0 auto;
    width: 75%;
}

.vitrine_container {
    height: 19.5em;
    margin: 2.5em 0;
    width: 100%;
}

.vitrine_header {
    align-items: center;
    display: flex;
    height: 2.5em;
    justify-content: space-between;
    width: 100%;
}

.vitrine_header_titulo {
    color: #464646;
}

.vitrine_header_link {
    color: #2A7AE4;
    display: flex;
    font-size: 0.8em;
    line-height: 2em;
    font-weight: 700;
    text-decoration: none;
}

.vitrine_header_link img {
    margin: 0 0.5em;
    width: 1.2em;
}

.vitrine_cards {
    display: flex;
    gap: 1%;
    height: 17em;
    width: 100%;
}

.vitrine_cards_produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: calc(95% / 5);
}

.vitrine_cards_produto_imagem {
    height: 10em;
    width: 100%;
    margin: 0;
}

.vitrine_cards_produto_nome {
    color: #A2A2A2;
    font-weight: 400;
    margin: 0;
}


.vitrine_cards_produto_preco {
    font-weight: 700;
    margin: 0;
}

.vitrine_cards_produto_link {
    color: #2A7AE4;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
}