@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&family=Rokkitt:wght@100;300;400;700&display=swap");

:root {
    /*Fontes diversas*/
    --raleway: "Raleway";
    --rokkit: "Rokkitt", serif;

    /*Cores utilizadas no layout*/
    --azulClaro: #eaf2fd;
    --cinzaEscuro: #a2a2a2;
    --cinzaClaro: #f5f5f5;
    --primaria: #2a7ae4;
    --primariaHover: #d4e4fa;
    --branco: #fff;
    --preto: #000;
    --vermelho: #f44336;
}
