@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&family=Rokkitt:wght@100;300;400;700&display=swap');

:root {
    --raleway: 'Raleway';
    --rokkit: 'Rokkitt', serif;

    --azulClaro: #EAF2FD;
    --cinzaEscuro: #A2A2A2;
    --cinzaClaro: #F5F5F5;
    --primaria: #2A7AE4;
    --primariaHover: #D4E4FA;
    --branco: #FFF;
    --preto: #000;
}
